---
import '../styles/style_coming_soon.css';
---

	<div id="blob"></div>
    <div id="blur"></div>
    <div id="maintext"> Coming Soon... </div>

	<script>
		let blob = document.getElementById('blob');
		window.onpointermove = (e) => {
    		const { clientX, clientY } = e;
			if (blob) {
				blob.animate({top:`${clientY}px`, left:`${clientX}px`},{duration: 1000, fill: 'forwards'});
			}
		}
	</script>
